
#carousel {
  margin: 0 auto;
  margin-top: 250px;
}

.caraousel-page {
  align-self: center;
}

.Container{
  font-family: arial;
  font-size: 24px;
  margin: 0 auto;
  width: 675px;
}

#AnalyticsPage{
  background-color: #202225;
  color: #202225;
}

.carousel-image {
  margin-left: 50px;
}


#data_svg {
    height: 150px;
}