.file-card-container {
    gap: 75px;
    display: flex;
    align-items: center;
    margin-left: 50%;
    width: 50%;
}

.file-card {
    background-color: aqua;
    border-bottom: 5px solid blue;
    display: flex;
    padding-left: 20px;
    padding-bottom: 15px;
    align-items: left;
    border-top-right-radius: 15px;
    margin-top: 20%;
    position: fixed;
    text-align: left;
    background-color: #F9F9F9;
    width: 35%;
}

.logo-second {
    margin-left: 10%;
    margin-top: 20%;
    position: fixed;
    text-align: center;
}

.logo-second-container {
    align-items: center;
    position: fixed;
    height: auto;
    width: 50%;
    margin-left: 0;
}

.card-text {
    font-size: 20px;
    font-size: 'oswald';
    font-weight: bold;
    margin: 12.5px;
}

.download-button {
    height: 40px;
    color: #f4f4f4;
    border-radius: 10px;
    height: 25px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15;
    align-items: center;
    text-align: center;
    font-family: 'oswald';
    font-weight: bold;
    background-color: #68A33A;
    border-style: hidden;
}

.download-button:hover {
    border-radius: 15;
    text-align: center;
    font-family: 'oswald';
    background-color: #68A33A;
}

.delete-button {
    font-weight: bold;
    color: #f4f4f4;
    border-radius: 10px;
    height: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15;
    text-align: center;
    font-family: 'oswald';
    background-color: #EA4A27;
    border-style: hidden;
}

.button-container {
    flex: 1;
    text-align: center;
    align-items: center;
}   

.flex-child {
    flex: 1;
}

.flex-container {
    display: flex;
}

.button-box {
    padding: 5px;
    width: 100%;
}

.button-coloumn {
    margin-top: 15px;
    margin-left: 30%;
    align-items: center;
    width: 50%;
}

.list-card-container {
    margin-top: 150%;
}