.ViewFileForm {
    position: fixed;
    left: 00;
    margin: 30px;
    padding: 20px;
    width: 40%;
    text-align: center;
    align-items: center;
}

.wordcloud {
    margin-left: 200px;
}
.ViewFilesButton{
    margin: 12px;
    width: 70%;
    height: 40px;
    background-color: #ff6363;
    font-size: 100%;
    color: #f4f4f4;
    font-family:"oswald";
    font-weight: bold;
    border-radius:20px;
    border-style: hidden;
    text-align: center;
}

.error-box {
    font-family:"oswald";
    border-radius: 20px;
    background-color: #ff6363;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 5%;
    width: 30%;
    height: 30px;
}
.Input-button {
    margin: 10px;
    background-color: #ffffff;
    border-style: hidden;
    width: 100%;
    height: 50px;
    border-radius:20px;
    background-color: #f9f9f9;
}

.Input-button:hover {
    margin: 10px;
    background-color: #ffffff;
    border-style:ridge;
    width: 100%;
    height: 50px;
    border-radius:20px;
    background-color: #f9f9f9;
}

.ViewFilesButton:hover{
    width: 70%;
    height: 40px;
    font-family:"oswald";
    font-weight: bold;
    background-color: rgb(39, 39, 39);
    border-radius:20px;
    border-style: hidden;
    text-align: center;
}

.SignInText {

}

.FrontPage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

#frontPage-navbar {
    margin-left: 10px;
    position: fixed;
    margin-top: 5px;
    top: 0;
    width: 100%;
    height: 40px;
    gap:20px
}

#logo-image {
    padding-left: 50;
    margin-left: 50;
    margin-top:30;
    left: 50;
    position: fixed;
    height: 40px;
}

.logo-image:hover {
    opacity: 0.75;
    filter: alpha(opacity=30);
    padding: 20;
    margin-left: 10;
    left: 0;
    position: fixed;
    height: 60px;
}

text {
    font-weight:normal;
    font-family: 'oswald';
    font-size: 25px;
    position:relative;
    top: 0;
    margin-left: 40px;
    color: #C4C4C4;
}

.form {
    width: 50%;
}

.logo-div{
    margin: 30px;
    width:40px;
}

.logo-second {
    padding: 10;
    margin-left: 30%;
    height: 80px;
}

::placeholder { 
    text-align: center;
    margin-left: 30px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    color: #CECECE;
    opacity: 1; /* Firefox */
  }

#documentation {
    position: absolute;
    bottom: 0px;
    margin-left: 80px;
}

#documentation-text:hover {
    font-family: "Roboto";
    font-weight:bolder
}



  